body {
    background-color: #F2E5D5;
    color: #260101;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 10px; /* Añadimos margen horizontal */
}

.container {
    background-color: #D9CBBA;
    border: 5px solid #D98B91;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Ajustamos el ancho máximo */
    width: 100%; /* Hacemos que ocupe todo el ancho posible */
    text-align: center;
}

h1 {
    color: #400101;
    margin-bottom: 20px;
}

.description {
    margin-bottom: 20px;
}

.description p {
    background-color: #F2E5D5;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #D98B91;
}

.round-selection {
    margin-bottom: 20px;
}

.round-selection label {
    margin-right: 10px;
}

.round-selection select {
    padding: 5px;
    font-size: 14px;
    background-color: #F2E5D5;
    border: 2px solid #D98B91;
    color: #260101;
    border-radius: 5px;
}

.button-container {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #D98B91;
    border: none;
    border-radius: 10px;
    color: #F2E5D5;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #400101;
}
