body {
    background-color: #F2E5D5;
    color: #260101;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 10px;
}

.container {
    background-color: #D9CBBA;
    border: 5px solid #D98B91;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    text-align: center;
}

h1 {
    color: #400101;
    margin-bottom: 20px;
}

.description {
    margin-bottom: 20px;
}

#game-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-image-container {
    border: 2px solid #D98B91;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

.pokemon-card img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.pokemon-name {
    font-size: 20px;
    font-weight: bold;
    color: #260101;
    margin: 5px 0;
}

.pokemon-stat {
    font-size: 18px;
    font-weight: bold;
    color: #260101;
    margin: 5px 0;
}

.pokemon-value {
    font-size: 18px;
    font-weight: bold;
    color: #D98B91;
    margin: 5px 0;
}

.vs {
    font-size: 24px;
    font-weight: bold;
    color: #400101;
    margin: 0 20px;
}

#score-container {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #D98B91;
    border: none;
    border-radius: 10px;
    color: #F2E5D5;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #400101;
}
